@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    background: url(../images/images_header-bg.jpeg) no-repeat 0 -350px;
    height: 100vh;
    position: relative;
    background-size: 100vw;
    background-attachment: fixed;
}
header{
    height: 71px;
    background-color: #1d2124;
    color: #fff;
}
a{
    display: block;
    text-decoration: none;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteName{
    position: absolute;
    top: 27px;
    left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.search{
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa{
    color: #fff;
}
nav{
    width: 700px;
    height: 70px;
    border: 1px solid white;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    flex: 1 0 auto;
}
nav a{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.container2{
    background-color: rgba(0,0,0,0.4);
    padding: 120px 0 170px 0;
}
.container2>p{
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    color: #fff;
}
.subscribeButton{
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    border-radius: 3px;
}
.subscribeButton a{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.articleButton{
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    border-radius: 3px;
}
.articleButton a{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.buttons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 360px;
}
.container3{
    background-color: #f2f2f2;
    height: 1030px;
}
.container3>p{
    color: #18b4cf;
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 55px;
}
.posts{
    display: flex;
    flex-direction: row;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}
.post{
    background-color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.post1, .post4{
    height: 320px;
}
.post2, .post6{
    height: 442px;
}
.post3{
    height: 355px;
}
.post5{
    height: 310px;
}
.post p{
    margin-top: 20px;
    color: #353a3d;
}
.container4{
    background: url(../images/images_bg-2-.png);
    height: 590px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    perspective: 1px;
    background-attachment: fixed;
}
.container4>p{
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 195px;
}
.sprite{
    background-image: url("../images/images_spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}
.sprite-brand1 {
    width: 207px;
    height: 28px;
    background-position: -70px -70px;
}
.sprite-brand2 {
    width: 135px;
    height: 49px;
    background-position: -417px -70px;
}

.sprite-brand3 {
    width: 172px;
    height: 42px;
    background-position: -692px -70px;
}

.sprite-brand4 {
    width: 141px;
    height: 52px;
    background-position: -1004px -70px;
}
.sprites{
    display: flex;
    margin: 0 auto;
    width: 885px;
    justify-content: space-between;
    align-items: center;
}
.container5{
    /*height: 2010px;*/
    background-color: #fff;
    padding-bottom: 70px;
}
.container5>p{
    color: #18b4cf;
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 60px;
}
.topImages{
    display: grid;
    grid-template-columns: repeat(7,1fr );
    width: 100%;
}
.topImages>img{
    width: 100%;
}
.hotNews{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:260px 452px 452px 260px;
    width: 1170px;
    margin: 0 auto;

    grid-row-gap: 40px;
    grid-template-areas:
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8";
}
.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
    justify-items: self-end;
}
.emirate{
    width: 856px;
    display: grid;
    grid-template-columns: 1fr auto;
}
.spain{
    width: 277px;
    background-color: #f9f7f7;
    text-align: center;
    justify-self: self-end;
}
.text1{
    background-color: #f9f7f7;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;
}
.text2{
    background-color: #f9f7f7;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;
}
.name{
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.egypt, .maldives, .tenerife, .greatBritain{
    width: 555px;
}
.maldives,.greatBritain{
    justify-self: self-end;
}
.ireland{
    width: 277px;
    background-color: #f9f7f7;
    text-align: center;
}
.king {
    width: 856px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: self-end;
}
footer{
    background-color: #1d2124;
    color: #fff;
    height: 80px;
}
.innerFoot{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
    align-items: center;
    line-height: 80px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.lioit>img{
    display: block;
}
